---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const projects = await getCollection('projects');

  return projects.map((project) => ({
    params: { slug: project.id.replace(/\.md$/, '') },
    props: { project },
  }));
}

const { project } = Astro.props;
const data = project.data;
---

<!DOCTYPE html><html lang="tr"><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Indochine - Architecture and Interiors HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="/https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/fontawesome-5.14.0.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="/css/nice-select.min.css">
    <!-- Animate -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Slick -->
    <link rel="stylesheet" href="/css/slick.min.css">
    <!-- Main Style -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="page-wrapper light-mode">

        <!-- Preloader -->
        <div class="preloader"><div class="custom-loader"></div></div>

        <!-- main header -->
        <header class="main-header">
            <!--Header-Upper-->
                      <div class="header-upper black-120-bg">
                <div class="container clearfix">
                    <div class="header-inner rel d-flex align-items-center">
                        <div class="logo-outer">
                            <div class="logo"><a href="/index-light.html"><img src="/images/logo.png" alt="Logo" title="Logo"></a></div>
                        </div>

                        <div class="nav-outer ms-auto clearfix">
                            <!-- Main Menu -->
                            <nav class="main-menu navbar-expand-lg">
                                <div class="navbar-header py-10">
                                   <div class="mobile-logo">
                                       <a href="/index-light.html">
                                            <img src="/images/logo.png" alt="Logo" title="Logo">
                                       </a>
                                   </div>
                                   
                                    <!-- Toggle Button -->
                                    <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix">
                                        <li class="dropdown"><a href="#">Anasayfa</a>
                                          
                                        </li>
                                        <li><a href="/about-light.html">Hakkımda</a></li>
                                        <li class="dropdown"><a href="#">Projeler</a>
                                           <!-- About Area end    <ul>
                                                <li><a href="/projects-01-light.html">Projeler 01</a></li>
                                                <li><a href="/projects-02-light.html">Projeler 02</a></li>
                                                <li><a href="/projects-03-light.html">Projeler 03</a></li>
                                                <li><a href="/projects-04-light.html">Projeler 04</a></li>
                                                <li><a href="/projects-05-light.html">Projeler 05</a></li>
                                                <li><a href="/project-details-light.html">Proje Detayları</a></li>
                                                <li><a href="/project-details-02-light.html">Proje Detayları 02</a></li>
                                            </ul>-->
                                        </li>
                                        <li><a href="/contact-light.html">İLETİŞİM</a></li>
                                    </ul>
                                </div>

                            </nav>
                            <!-- Main Menu End-->                           
                        </div>   
                        <!-- Search Button -->
                        <div class="search-btns">
                           <span class="search-icon"><i class="far fa-search"></i></span>
                        </div>                                          
                    </div>
                    <form class="search-project search-form mt-96" id="project-search" action="#">
                        <input type="search" required="" placeholder="Aramak için yazın...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <!--End Header Upper-->
        </header>
        
        <!-- Banner Section Start -->
        <section class="banner-area pt-324 pb-250" style="background-image: url(images/banner.png);">
            <div class="container text-center">
                <div class="row align-items-center justify-content-between">
                    <div class="banner-content wow fadeInUp delay-0-2s">
<h1>{data.title}</h1>
                        <div class="mt-32">
                            <ul class="breadcrumb wow fadeInUp delay-0-4s">
                                <li class="breadcrumb-item"><a href="/index-light.html">Home</a></li>
                                <li class="breadcrumb-item">Project Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Section End -->

        <!-- Architecture Projects Area start -->
        <section class="project-details py-128">
            <div class="container">
                <div class="content">
                    <div class="mb-64 align-items-center">
                        <div class="row detail-image mb-64 wow fadeInLeft delay-0-1s">
<img src={data.cover} alt={data.title}>
</div>   
                        <div class="row detail-info mb-64 wow fadeInLeft delay-0-1s">
                            <div class="col-lg-6 info text-left">
<h2 class="mb-16">{data.title}</h2>
<p>PROJE ADI: {data.title}</p>
<p>PROJE TARİHİ: {data.date}</p>
<p>PROJE KONUMU: {data.location}</p>
<p>TASARIM: {data.architect}</p>
</div>
                            <div class="col-lg-6 text-right">

<p>{data.description}</p>

</div>
                        </div>       
                    </div>
                    <div class="mb-64 align-items-center">
                        <div class="row detail-image mb-64 wow fadeInLeft delay-0-1s">
                            <img src="/images/detail-2.jpg" alt="Apartment">
                        </div>   
                        <div class="row mb-64 wow fadeInLeft delay-0-1s">
                            <div class="col-lg-6 text-left">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                <ul class="list mb-16">
                                    <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text of the printing.</li>
                                    <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text of the printing.</li>
                                    <li><i class="fa fa-check"></i> Lorem Ipsum is simply dummy text of the printing.</li>
                                </ul>
                                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                            <div class="col-lg-6 text-right">
                                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>       
                    </div>    
                    <div class="mb-64 galley text-center wow fadeInLeft delay-0-1s">
                        <div class="row mb-30">
                            <div class="col-sm-8 col-lg-8 img">
                                <img src="/images/gal-1.jpg" alt="Apartment">
                            </div>
                            <div class="col-sm-4 col-lg-4 img">
                                <img src="/images/gal-2.png" alt="Apartment">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-lg-4 img">
                                <img src="/images/gal-3.jpg" alt="Apartment">
                            </div>
                            <div class="col-sm-4 col-lg-4 img">
                                <img src="/images/gal-4.png" alt="Apartment">
                            </div>
                            <div class="col-sm-4 col-lg-4 img">
                                <img src="/images/gal-5.jpg" alt="Apartment">
                            </div>
                        </div>
                    </div>
                    <div class="mb-64 align-items-center">  
                        <div class="row mb-64 wow fadeInLeft delay-0-1s">
                            <div class="col-lg-6 text-left">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            </div>
                            <div class="col-lg-6 text-right">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            </div>
                        </div>       
                    </div> 
                    <div class="row wow fadeInRight delay-0-2s">
                        <div class="pro-tags">
                            <span>TAGS:</span>
                            <ul class="tag-list">
                                <li><a href="#">Interior</a></li>
                                <li><a href="#">Rooms</a></li>
                                <li><a href="#">Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Architecture Projects Area end -->

        
        <!-- footer area start -->
        <footer class="main-footer py-128 black-120-bg">
            <div class="footer-top mb-96">
                <div class="container">   
                    <div class="col-lg-10">
                        <h2>Mimariyi, <span class="white">iç mekânı</span> ve <span class="white">sanat yönetimini</span> tek bir tasarım dili altında buluşturuyorum.</h2>

                    </div>                    
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="copyright-area col-sm-12 col-md-4 col-lg-6">
                            © Telif Hakkı AYSUN KAFKASLI 2024. Tüm hakları saklıdır.
                        </div>
                        
                        <div class="col-xs-12 col-sm-8 col-md-4 col-lg-3">
                            <div class="footer-bottom-text">
                                <div class="d-flex content">
                                    <div class="left">
                                        <h4 class="h4-rotate ">İLETİŞİM</h4> 
                                    </div>
                                    <div class="right info">
                                        <p>İstanbul / Türkiye</p>
                                        <p><a href="callto:+905XXXXXXXXX">+905XXXXXXXXX</a></p>
                                        <p><a href="mailto:info@aysunkafkasli.com">info@aysunkafkasli.com</a></p>
                                        <div class="footer-social">  
                                            <span>Sosyal Medya:</span> 
                                            <a href="#"><i class="fab fa-dribbble"></i></a>
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                            <a href="#"><i class="fab fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  col-sm-4 col-md-3 col-lg-2">
                            <div class="footer-bottom-text">     
                                <div class="d-flex content">
                                    <div class="left">
                                        <h4 class="h4-rotate key-link">LİNKLER</h4> 
                                    </div>
                                    <ul class="right links">
                                        <li><a class="" href="/index-light.html">Anasayfa</a></li>
                                        <li><a class="" href="/about-light.html">Hakkımda</a></li>
                                        <li><a class="" href="/projects-01-light.html">Projeler</a></li>
                                        <li><a class="" href="/blog-light.html">Portfolyo</a></li>
                                        <li><a class="" href="/contact-light.html">İletişim</a></li>
                                    </ul>
                                </div>  
                            </div>
                        </div>
                        <div class="sm-none col-md-1 col-lg-1">
                            <div class="footer-bottom-text text-white">
                                <a class="to-top scroll-to-target content" data-target="html">
                                    <p>YUKARI</p> 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer area end -->

        
        
        <!-- Scroll Top Button -->
        <button class="scroll-top scroll-to-target" data-target="html"><span class="fas fa-angle-double-up"></span></button>

    </div>
    <!--End pagewrapper-->
   
    
<script is:inline src="/js/jquery-3.7.1.min.js"></script>
<script is:inline src="/js/popper.min.js"></script>
<script is:inline src="/js/bootstrap.min.js"></script>
<script is:inline src="/js/appear.min.js"></script>
<script is:inline src="/js/slick.min.js"></script>
<script is:inline src="/js/jquery.magnific-popup.min.js"></script>
<script is:inline src="/js/jquery.nice-select.min.js"></script>
<script is:inline src="/js/imagesloaded.pkgd.min.js"></script>
<script is:inline src="/js/isotope.pkgd.min.js"></script>
<script is:inline src="/js/wow.min.js"></script>
<script is:inline src="/js/script.js"></script>

</body></html>